classes/
oldTables/
tables/
output*
*.swp
dist/
*\$py.class
time*pdf
winScore*pdf
actions.txt
*.pdf
*.log
*.toc
*.aux
*.out
*.pyc
*.bbl
*.blg
*.nav 
defense/*.nav 
*.snm
src/mrtndwrd.zip
defense/presentation.nav
